.freegift-form, .freegift-success {
  font-family: 'museo-sans', sans-serif;
  padding: 32px 16px;
}

.freegift-success {
  max-width: 460px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.heading-wrapper {
  margin: auto;
  max-width: 460px;
}

.freegift-form .heading {
  font-size: 64px; 
  letter-spacing: -2.56px;
  font-weight: 300;
  line-height: 75px;
  text-align: center;
}

.freegift-success  .heading {
  font-size: 32px;
  letter-spacing: -1.28px;
  line-height: normal;
  text-align: center;
  margin-bottom: 20px;
}

.freegift-success  .heading em{
  line-height: 0;
}
.freegift-form .heading em {
  font-family: 'learning-curve'; 
  font-weight: 700;
  font-size: 80px;
  background: linear-gradient(90deg, #FFD7A3 64.08%, #FFBCB6 69.73%, #FFA1C8 74.84%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.freegift-form-img .heading em {
  font-family: 'Calmsie';
  font-size: 55px;
  font-weight: 400;
}

.freegift-success .heading em strong {
  font-family: 'museo-sans', sans-serif;
  font-style: normal;
  font-weight: 400 !important;
  font-size: 32px;
}


.subheading p {
  font-size: 20px;
  line-height: 26px;
  letter-spacing: -0.8px;
  text-align: center;
}

.freegift-form .klaviyo-form-custom {
  background: #E5E8EB;
}

.klaviyo-form-custom {
  max-width: 382px;
  padding: 20px 13px;
  margin: auto;
}

.freegift-success .image {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.freegift-success  .benefits {
  margin-bottom: 48px;
}

.heading-benefits {
  font-size: 26px;
}

.benefit {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.97px;
  display: flex;
  align-items: center;
  gap: 5px;
}

.checkout-gift-container {
  width: 180px;
  justify-self: center;
}

.checkout-gift-container a {
  background: black;
  color: white;
  font-size: 12.8px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 2.048px;
  padding: 13px 16px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.checkout-gift-container:hover a {
  transform: scale(1.05);
}


@media screen and (max-width: 768px) {
  .heading {
    font-size: 32px;
    font-size: 32px;
    letter-spacing: -1.28px;
    line-height: normal;
  }
  
  .heading em {
    font-size: 40px;
  }

  .subheading p {
    font-size: 18px;
    font-style: normal;
    line-height: normal;
    letter-spacing: -1px;
  }

  .freegift-success  .heading {
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: -1.04px;
  }

  .freegift-success .heading em strong {
    letter-spacing: -1.04px;
    font-size: 26px;
  }

  .freegift-success img {
    width: 358px;
    padding-inline: 30px;
  }

  .freegift-success {
    align-items: center;
  }
  
}

/*** Free Gift Form with Image ***/
.freegift-form-img {
  padding-inline: 100px;
}

.freegift-form-img .free-gift-wrapper, .freegift-success-with-img .free-gift-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin: auto;
  padding-block: 3rem;
  align-items: center;
  gap: 30px;
  max-width: 90%;
}

.freegift-form-img .free-gift-wrapper img, .freegift-success-with-img .free-gift-wrapper img {
  object-fit: contain;
  width: 100%;
}

.freegift-form-img .heading, .freegift-success-with-img .heading {
  font-family: 'museo-sans', sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-align: center;
}

.freegift-form-img .subheading {
  font-family: 'museo-sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

.freegift-success-with-img .content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.benefits {
  font-family: 'museo-sans', sans-serif;
}

.benefit-list .benefit {
  display: list-item;
  list-style-type: disc;

}

.benefit-list {
  margin-top: 20px;
}

.freegift-success-with-img .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.freegift-success-with-img .heading img {
  height: 50px;
  width: fit-content;
}

@media screen and (max-width: 990px) {
  .free-gift-wrapper {
    grid-template-columns: 1fr !important;
    gap: 20px;
  }
}

@media screen and (max-width: 768px) {

  .freegift-form-img .free-gift-wrapper {
    margin: unset;
    width: 100%;
    max-width: unset;
  }


 .freegift-form-img {
    padding-inline: 20px !important; 
  }

  .freegift-form-img .heading {
    font-size: 28px;
  }

  .freegift-success-with-img .heading {
    font-size: 28px;
    letter-spacing: normal;
  }

  .heading-benefits {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
  }
}